html{
  scroll-behavior: smooth;
}
*{
  background-color: #1b1b1b;
}


/*new part starts from here*/

a {
  color: inherit;
  text-decoration: inherit;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

::selection {
  background-color: #f7ca18;
  color: #1b1b1b;
}

nav {
  width: 100%;
  background-color: #0b0b0b;
  position: fixed;
  bottom: 0;
  height: 100px;
  overflow: hidden;
}

nav ul {
  position: absolute;
  top: 0;
  left: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 140vw;
}

nav li {
  margin: 0;
  float: left;
  display: inline-block;
  height: 98px;
  margin-bottom: 2px;
  line-height: 100px;
  width: 20vw;
  text-align: center;
  color: #555;
  transition: background-color 0.5s 0.2s ease, color 0.3s ease;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 800;

  transform: translateY(100%);
}

nav a {
  padding: 3.5em;
}

nav li.active {
  background-color: #151515;
  color: #efefef;
}

nav li.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f7ca18;
}

nav li:nth-child(1) {
  animation: pop 0.5s 0.15s 1 forwards;
}

nav li:nth-child(2) {
  animation: pop 0.5s 0.3s 1 forwards;
}

nav li:nth-child(3) {
  animation: pop 0.5s 0.45s 1 forwards;
}

nav li:nth-child(4) {
  animation: pop 0.5s 0.6s 1 forwards;
}

nav li:nth-child(5) {
  animation: pop 0.5s 0.75s 1 forwards;
}

nav li:nth-child(6) {
  animation: pop 0.5s 0.9s 1 forwards;
}

nav li:nth-child(7) {
  animation: pop 0.5s 1.05s 1 forwards;
}

nav li:hover {
  color: #ececec;
}

nav li:active {
  background-color: #222;
}

nav li:nth-child(1):hover~.slide {
  left: 0;
}

nav li:nth-child(2):hover~.slide {
  left: 20vw;
}

nav li:nth-child(3):hover~.slide {
  left: 40vw;
}

nav li:nth-child(4):hover~.slide {
  left: 60vw;
}

nav li:nth-child(5):hover~.slide {
  left: 80vw;
}

nav li:nth-child(6):hover~.slide {
  left: 100vw;
}

nav li:nth-child(7):hover~.slide {
  left: 120vw;
}


nav li.slide {
  position: absolute;
  left: -20vw;
  top: 0;
  background-color: #fff;
  z-index: -1;
  height: 2px;
  margin-top: 98px;
  transition: left 0.3s ease;
  transform: translateY(0);
}

section {
  background-color: #1b1b1b;
  height: 100vh;
  display: flex;

}

section .title {
  max-width: 60%;
  width: 100%;
  align-self: center;
  transform: translateY(-50px);
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 10px;
  text-align: center;


}

section .title span {
  display: inline-block;
  font-size: 5vw;
  color: #efefef;
  width: 100%;
  text-transform: uppercase;
  transform: translateX(-100%);
  animation: byBottom 1s ease both;
  font-weight: 600;
  letter-spacing: 0.25vw;
}

section .title span:last-child {
  font-size: 1rem;
  animation: byBottom 1s 0.25s ease both;
}

section .title span a {
  position: relative;
  display: inline-block;
  margin-left: 0.5rem;
  text-decoration: none;
  color: #f7ca18;
}

section .title span a::after {
  content: "";
  height: 2px;
  background-color: #f7ca18;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  animation: linkAfter 0.5s 1s ease both;
}

.home {}

@media only screen and (max-width: 800px) {
  .Homeimg {
    padding: 3em;
    flex-wrap: wrap;
  
  
  }

}

.Homeimg {
  padding: 3em;


}

@-moz-keyframes pop {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes pop {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@-o-keyframes pop {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes pop {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@-moz-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@-o-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@-moz-keyframes linkAfter {
  0% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}

@-webkit-keyframes linkAfter {
  0% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}

@-o-keyframes linkAfter {
  0% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}

@keyframes linkAfter {
  0% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}




h6 {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  letter-spacing: 6px;
}


.contact {
  margin: 0;
  padding: 0;
  background-color: #000;
  padding-bottom: 100px;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
  line-height: 2;

}



.form-control,
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 600px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

.contact-text .place {
  justify-content: space-between;
}

.contact-text .phone {
  justify-content: space-between;
  align-content: space-between;
}

.imgop {
  padding-right: 2em;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}



.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, .6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }

  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }

  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }

  .form-control,
  textarea {

    margin: 0 auto;
  }


  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 600px;
  }

  .social-media-list {
    left: 0;
  }

  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }

  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }

}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}


.pro-all{
  align-items: center;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 1em;
  border: solid white;
  height: 35em;
  margin-left: 2em;
  margin-right: 2em;
  
  
}
h4{
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  background-color: black;
  text-transform: uppercase;
  letter-spacing: 6px;
  border: solid white;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
h5{
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  background-color: black;
  text-transform: uppercase;
  letter-spacing: 6px;
  border: solid white;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
.About{
 
  padding-top: 2em;
  padding-left: 10em;
  padding-right: 10em;
  color: #ececec;
  font-size: 2em;
}